
<div class="banner">
  <div class="banner-content">
    <h1>Welcome to your budget manager</h1>
    <%= link_to "Add a new income", new_income_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Add a new expense", new_expense_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
