.operations table {
  border-collapse: collapse
}

.operations td {
  border: 1px solid black;
  width: 200px;
  text-align: center;
}

.operations th {
  border: 1px solid black;
  width: 200px;
  text-align: center;
}

.operations td.no-line {
  border: 1px solid white;
  text-align: left;
  padding-left: 15px;
}
