.operations table {
  border-collapse: collapse
}

.operations td {
  border: 1px solid black;
  width: 200px;
  text-align: center;
}

.operations th {
  border: 1px solid black;
  width: 200px;
  text-align: center;
}
