.operations {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: white;
  padding: 5px 20px 20px 20px;
  box-shadow: 3px 3px 2px #DFDDDE;
}

.fa {
  font-size: 16px;
  color: #616668;
  margin-right: 10px;
}
.fa:hover {
  color: #da552f;
  text-decoration: none;
}
